<div class="container">
  <div class="image-container">
    <div class="poster">
      <img src="{{ posterURL }}" />
    </div>
  </div>
  <div class="content" *ngIf="loaded; else elseBlock">
    <div class="name">
      <h2>{{ movieData.original_title }}</h2>
    </div>
    <div class="item">
      <div class="header">Synopsis</div>
      {{ movieData.overview }}
    </div>
    <div class="item">
      <div class="header">Runtime</div>
      {{ movieData.runtime }} Minutes
    </div>
    <div class="item">
      <div class="header">Rating</div>
      {{ movieData.vote_average }}★
    </div>
    <div class="item">
      <div class="header">Release Date</div>
      {{ movieData.release_date }}
    </div>
    <div class="item">
      <div class="header">Budget</div>
      ${{ movieData.budget | number }}
    </div>
    <div class="item">
      <div class="header">Revenue</div>
      ${{ movieData.revenue | number }}
    </div>
  </div>
  <ng-template #elseBlock>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</div>
