@import '/src/styles.scss';

.mat-toolbar {
  background-color: $base-color;
  color: $baseText;
}

.mat-button {
  color: $baseText;
}

.spacer {
  flex: 1 1 auto;
}

span a {
  color: $baseText;
  text-decoration: none;
}