
<h2 *ngIf="data.tmdbMovieData" mat-dialog-title>{{data.tmdbMovieData.original_title}} {{"\["}}{{data.tmdbMovieData.release_date | date:'yyyy' }}{{"\]"}} </h2>
<h2 *ngIf="data.movieData" mat-dialog-title>{{data.movieData.filmTitle}} {{"\["}}{{data.movieData.releaseDate | date:'yyyy' }}{{"\]"}}</h2>

<mat-dialog-content class="mat-typography">
    <!-- <h3>Date</h3> -->
    <!-- <p></p> -->
    <form [formGroup]="movieForm">
        <mat-form-field appearance="outline">
            <mat-label>Watch Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="watchDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <h3>Date</h3> -->
        <!-- <p></p> -->

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="false">Cancel</button>
    <button mat-button (click)="addMovie()" [disabled]="!movieForm.valid">Add</button>
</mat-dialog-actions>