<div class="container mat-elevation-z8">
  {{this.nice}}
  <br>
  <form [formGroup]="formFilter">
    <mat-form-field class="form-filter" appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (ngModelChange)="applyMovieFilter($event)" formControlName="filter">
    </mat-form-field>
  </form>
  <mat-table [dataSource]="movieTable" matSort>
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="number-column"> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" class="number-column"> {{element.index}} </mat-cell>
    </ng-container>

    <!-- Poster Column -->
    <ng-container matColumnDef="poster">
      <mat-header-cell *matHeaderCellDef class="poster-column"> Poster </mat-header-cell>
      <mat-cell *matCellDef="let element" class="poster-column"><img class="poster" src="{{element.posterPath}}"> </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="movieTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Film Title </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="navigateToDetailView(element)" class="link"> {{element.filmTitle}} {{"\["}}{{element.releaseDate | date: 'yyyy'}}{{"\]"}}
      </mat-cell>
    </ng-container>

    <!-- Date Watched Column -->
    <ng-container matColumnDef="watchDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date Watched </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.watchDate | date:'EEE MMM d, y'}}
      </mat-cell>
    </ng-container>

    <!-- Runtime Column -->
    <ng-container matColumnDef="runtime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Runtime </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.runtime}} </mat-cell>
    </ng-container>

    <!-- tmdbRating Column -->
    <ng-container matColumnDef="tmdbRating">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TMDB Rating </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tmdbRating}} </mat-cell>
    </ng-container>

    <!-- peoplePresent Column -->
    <ng-container matColumnDef="peoplePresent">
      <mat-header-cell *matHeaderCellDef mat-sort-header> People Present </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.watched.length + element.failed.length}} </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="thin-column"> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="thin-column">
        <mat-icon (click)="editMovie(element)" class="edit-button">edit</mat-icon>

      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="thin-column "> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="thin-column">
        <mat-icon (click)="openDeleteDialog(element)" class="delete-button">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25,50,100]" showFirstLastButtons></mat-paginator>
</div>