@import '/src/styles.scss';

.container {
    max-width: 100vw;
    min-height: 55vh;
    
}

.tabs
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.loginForm, .registerForm
{
    margin-top: 3vh;
    min-width: 320px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color: $base-color;
    color: $baseText;
}

mat-tab{
    color: $base-color;
}