<mat-tab-group class="tabs">
    <div class="container">
        <mat-tab label="Login">
            <form [formGroup]="formLogin" class="loginForm" (ngSubmit)="handleNormalLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button>Login</button>
            </form>

            <button mat-raised-button (click)="signInWithGoogle()">Login with Google</button>
            
        </mat-tab>
        <mat-tab label="Sign Up">
            <form [formGroup]="formRegister" class="registerForm" (ngSubmit)="handleNormalRegister()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Repeat Password</mat-label>
                    <input matInput type="password" formControlName="repeatPassword">
                </mat-form-field>
                <button mat-raised-button>Register</button>
            </form>
        </mat-tab>
    </div>
</mat-tab-group>