@import '/src/styles.scss';

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
}

.tabs {
	display: flex;
	flex: row;
	min-width: 35em;
}

.Login {
	max-width: 30em !important;
	height: fit-content !important;
}

.formContainer {
	width: 100%;
}

.myButton {
	width: 20em;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm,
.registerForm {
	margin-top: 3vh;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color: $base-color;
	color: $baseText;
}

.registerForm mat-form-field,
.loginForm mat-form-field {
	width: 100%;
}

.mt-1em{
    margin-top: 1em;
}

.mb-2em{
    margin-bottom: 2em;
}