<div class="container">
    <div>
        <form [formGroup]="myForm" (ngSubmit)="onSearch()" novalidate>
            <mat-form-field class="search" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Title" value="" formControlName="search">
            </mat-form-field>
            <button mat-button color="primary" type="submit">Search</button>
        </form>
    </div>

    <div *ngIf="results!=null">
        <div *ngFor="let result of results?.results;" class="search-results">
            <mat-card class="">
                <div class="image-container">
                    <img class="header-image"
                        src="{{tmdbAPI.getImageBaseURL()}}{{ result?.backdrop_path }}"
                        alt="{{result?.original_title}} Poster">
                </div>
                <div class="content">
                    <mat-card-header>
                        <mat-card-title (click)="openMovieDetails(result?.id)" class="link">{{result?.original_title}} {{"\["}}{{result?.release_date | date:'yyyy' }}{{"\]"}}
                        </mat-card-title>
                        <mat-card-subtitle>{{result?.release_date}} · ★{{result?.vote_average}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="card-content">
                        <p>
                            {{result.overview}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions class="mb-0-5">
                        <button mat-stroked-button (click)=openWatchlistModal(result)>+ WATCHLIST</button>
                        <button mat-stroked-button class="ml-0-5">SHARE</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
        <mat-paginator [length]="results.total_results" [pageSize]="10" [showFirstLastButtons]="true" [pageIndex]="page"
            (page)="handlePagination($event)">
        </mat-paginator>
    </div>
</div>