// variables

$base-color: cornflowerblue;
$baseText: white;
$light-gray: rgb(240, 240, 240);
$light-blue: rgb(209, 225, 253);


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


